$font-family: 'Roboto', sans-serif;

@charset "UTF-8";

.mt10{ margin-top:10px; }
.ml10{ margin-left: 10px;}

.fs12{ font-size: 12px; }

// color
$mainColor: #ffdc32;    //main color
$bgColor: #fbfbfb;    //bg color
$bgMainContainer: #f4f4f4;    // main container bg
$fontColor: #333;    // font color
$hoverColor: #eaeaea;    //hover color
$white: #FFF;
$priceColor: #ff3232;    //red price color
$dashedColor: #e8e8e8;    //dashed border color
$blue: #00a1e9;    //blue color
$linkColor: #17b200;
$green: #17b200;    //green color
$borderColor: #d8d8d8;    //border color
$red: #ff3232;    //red color

//全局宽度
$globalWidth: 100%;

//默认圆角
$borderRadius: 5px !default;
