<div class="container login-container">
    <div class="login-banner">
    </div>
    <div class="auth-login">
        <div class="auth-login-word">
            <h2>京东快递管理平台</h2>
            <h3>专业为您提供优质服务</h3>
        </div>
        <div class="auth-block">
            <h1>管理平台登录</h1>
            <div class="login-error" ng-show="loginForm.error">
                {{loginForm.error.message}}
            </div>
            <form name="loginForm" autocomplete="off">
                <div class="form-group clear-fixed">
                    <label for="inputEmail" class="control-label">
                        <i class="icon-login-user icons"></i>
                    </label>
                    <div class="form-control">
                        <input ng-model="loginForm.data.username" type="text" id="inputEmail" ng-change='loginForm.error = false' placeholder="登录账号" required />
                    </div>
                </div>
                <div class="form-group clear-fixed">
                    <label for="inputPassword" class="control-label ">
                        <i class="icon-login-password icons"></i>
                    </label>
                    <div class="form-control">
                        <input ng-model="loginForm.data.password" type="password" id="inputPassword" ng-change='loginForm.error = false' placeholder="登录密码" required />
                    </div>
                </div>
                <!-- <div class="form-group" >
                <label for="inputVerification" class="control-label">验证码：</label>
                <div>
                    <input ng-model="verification" type="text" class="form-control" id="inputVerification" placeholder="请输入验证码" />
                </div>
                <div ng-if="!password.valid && password.touched" class="form-error">
                    验证码不能为空，请输入验证码
                </div>
            </div> -->
                <div class="form-group login-auto">
                    <input type="checkbox" ng-model="loginForm.data.autoLogin" /> 下次自动登录
                </div>
                <div class="form-group">
                    <button class="auth-login-btn" ng-disabled="loginForm.$invalid" ng-click="login(loginForm)">登录</button>
                </div>
                <div class="form-group login-forgot">
                    <a ui-serf="forgot">忘记密码？</a>
                </div>
            </form>
        </div>
        <div class="login-contact">
            <!-- <p>客服电话：400-000-0000</p> -->
            <p>代理加盟热线：15367578939</p>
        </div>
    </div>
</div>
