@import 'conf/conf';

.login-container{
	width: 100%;
	height: 100%;
	position: relative;
	min-width: 1080px;
	z-index: 0;
	background: url(../../assets/img/login-bg.png) no-repeat left center;

	.login-banner{
		width: 70%;
		height: 100%;
		background: url(../../assets/img/login-banner.jpg) no-repeat center center;
		background-size: cover;
	}

	.auth-login{
		width: 320px;
		background: $mainColor;
		height: 100%;
		position: absolute;
		left: 70%;
		top: 0;
		padding: 0 30px;

		.auth-login-word{
			padding-top: 196px;
			h2{
				font-size: 32px;
				font-weight: normal;
				margin: 0 0 10px;
				color: #333;
			}
			h3{
				font-size: 26px;
				margin:0 0 40px;
				color: #333;
			}
		}

		.auth-block{
			h1{
				font-size: 30px;
				color: #333;
				margin: 0 0 10px;
			}

			.form-group{
				margin-bottom: 10px;
				.control-label{
					float: left;
					width: 36px;
					height: 36px;
					line-height: 36px;
					background: #fff;
					border: 1px solid #ccc;
					text-align: center;
				}

				.form-control{
					margin-left: 36px;
					border: 1px solid #ccc;
					border-left: 0;
					height: 36px;
					line-height: 36px;
					background: #fff;

					input{
						width: 100%;
						height: 33px;
						top: -2px;
						position: relative;
						border:none;
						text-indent: 10px;
					}
				}

				&.login-auto{
					font-size: 12px;
					color: #333;

					input{
						margin-right: 3px;
					}
				}

				&.login-forgot{
					text-align: right;
					color: #00a1e9;
					font-size: 12px;
				}

				.auth-login-btn{
					width: 100%;
					color: #fff;
					background: #00a1e9;
					font-size: 20px;
					border: none;
					font-weight: normal;
					padding: 5px 0;
				}

			}

		}

		.login-contact{
			position: absolute;
			bottom: 40px;
			left: 0;
			text-align: center;
			font-size: 12px;
			width: 100%;
		}
	}
}
